{% extends 'core/base.html' %}
{% load static %}
{% block content %}
<div class=" mt-5">
    <div class="text-center">
        <img src="{% static 'core/images/image.jpg' %}" alt="ProfilePic" class="img-thumbnail" width="250px" height="150px">
    </div>
    
    <div class="mt-5 text-white mx-5 text-justify">
        <h1  class="font-weight-bold my-font">Hello,</h1>
        <div class="px-6 style="line-height:2rem;">
            <p style="text-indent: 100px;">I am <b class="text-warning">Imran Ansari </b> as a Fresher
                To be a successful and effective Electronics And Communication Engineer, delivering high quality solutions and to excel in the field of Electronics and Communication Engineering, equipped with latest trends to achieve organization’s goals.
            </p>
                <p><b class="text-warning">Certified as Bachelor of Technology in Electronics and communication Engineering Branch from Biju Patnaik University of Technology </b>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem dolorum enim necessitatibus modi quod ea praesentium fugit magnam, amet vel at nemo, laborum adipisci quam eos. Minima odit saepe praesentium.
                </p>
                <p>Gandhi Engineering College, Bhubaneswar Certified as a Bachelor of Technology in Electronics and Communication Engineering Branch from <b class="text-warning">Biju Patniak University of Technology(BPUT) batch 2014-2018</b>. Passing with cgpa of 6.45
            </p>
        </div>
        <div class="text-center">
            <a href="{% url 'contact' %} " class="btn btn-outline-warning my-3">Hire Me</a>
            <a href="{% url 'contact' %}" class="btn btn-outline-info my-3">Contact</a>
        </div>
    </div>

</div>
{% endblock content %}