.my-font{
    font-family: 'New Tegomin', serif;
}
html,body{
    height: 100%;
}

.container-fluid{
    min-height: 100%;
}

.btn{
    margin-right: 40px;
}

/* services  icon color*/
.i-color{
    color:greenyellow;
}

/* services text color */
.t-color{
    color: silver;
}

a.nav-link {
    color: whitesmoke;
}
a.nav-link:hover { 
    color: black;
    background-color: #e9cd79;
}
a.nav-link.active{
    color: goldenrod;
    background-color: blueviolet;
    font-weight: bold;
}