{% extends 'core/base.html' %}
{% block content %}
<div class="container mt-5">
    <h1 class="border-bottom mb-5 text-warning text-center">Skills</h1>
    <div class="row text-white">
        <div class="col-sm-5 text-white">
            <h3>HTML/CSS</h3>
            <div class="progress">
                <div class="progress-bar bg-success" role="progressbar" style="width: 100%;" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">100%</div>
            </div>
        </div>
        <div class="col-sm-5 text-white offset-sm-2">
            <h3>Java Script</h3>
            <div class="progress">
                <div class="progress-bar progress-bar-striped progress-bar-animated bg-danger" role="progressbar" style="width: 95%;" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">95%</div>
            </div>
        </div>
        <div class="col-sm-5 text-white mt-5 ">
            <h3>Python</h3>
            <div class="progress">
                <div class="progress-bar progress-bar-striped progress-bar-animated bg-danger" role="progressbar" style="width: 80%;" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">80%</div>
            </div>
        </div>
        <div class="col-sm-5 text-white  mt-5 offset-sm-2">
            <h3>Django</h3>
            <div class="progress">
                <div class="progress-bar progress-bar-striped progress-bar-animated bg-danger" role="progressbar" style="width: 50%;" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">50%</div>
            </div>
        </div>
        <div class="col-sm-5 text-white mt-5 ">
            <h3>Node.js</h3>
            <div class="progress">
                <div class="progress-bar bg-success" role="progressbar" style="width: 100%;" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">100%</div>
            </div>
        </div>
        <div class="col-sm-5 text-white mt-5 offset-sm-2">
            <h3>Java</h3>
            <div class="progress">
                <div class="progress-bar bg-success" role="progressbar" style="width: 100%;" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">100%</div>
            </div>
        </div>
        <div class="col-sm-5 text-white mt-5 ">
            <h3>Android Devlopment</h3>
            <div class="progress">
                <div class="progress-bar progress-bar-striped progress-bar-animated bg-danger" role="progressbar" style="width: 70%;" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">70%</div>
            </div>
        </div>
        <div class="col-sm-5 text-white mt-5 offset-sm-2">
            <h3>SQL</h3>
            <div class="progress">
                <div class="progress-bar bg-success" role="progressbar" style="width: 100%;" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">100%</div>
            </div>
        </div>
        
    </div>
</div>
{% endblock content %}